<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加/修改猫</title>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div id="app">
    <div>
        <label hidden>猫id：<input name="id" value="form.id"></label>
        <label>名字: <input name="name" type="text" v-model="form.name"/></label><br>
        <label>性别: <input name="gender" type="text" v-model="form.gender"/></label><br>
        <label>生日: <input name="birthday" type="date" v-model="form.birthday"/></label><br>
        <label>介绍: <input name="introduction" type="text" v-model="form.introduction"/></label><br>
        <label>图片：<input @change="change($event)" id="file" name="file" type="file"></label><br>
        <img :src="HostImg+form.img" height="200px" width="200px"><br>

        <button onclick="submit()">保存</button>
    </div>

</div>

</body>

<script>

var app = new Vue({
    el: '#app',
    data: {
        form: {
            id: '',
            name: '',
            gender: '',
            birthday: null,
            introduction: '',
            img: ''
        },
        file: null,
    },
    methods: {
        change: function (event) {
            this.file = event.target.files[0]
        },
        uploadImg: function (callback) {
            var data = new FormData();//重点在这里 如果使用 var data = {}; data.inputfile=... 这样的方式不能正常上传
            data.append("file", this.file)
            console.log(data)

            let headers = {headers: {"Content-Type": "multipart/form-data"}}
            axios.post(Host + "/upload", data, headers).then(function (response) {

                if (response.data && response.data.success) {
                    callback && callback(response.data.data.img)
                } else {
                    console.log(response);
                }

            }, function (err) {
                console.log(err);
            })
        }

    }
})

//获取url参数
function getQueryString (name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
}

let id = getQueryString("id");

if (id) {
    app.form.id = id;
    findCat(id);
}

//查询猫咪
function findCat (id) {
    axios.get(Host + '/cat/findCat/' + id)
        .then(function (response) {
            if (response.data && response.data.success) {
                app.form = response.data.data.cat

                app.form.birthday = app.form.birthday.substring(0, 10)

                console.log(app.form.birthday)
            } else {
                alert(response.data.message)
            }
        })
        .catch(function (error) {
            console.log(error);
        });
}

//点击提交
function submit () {

    if (!app.form.name) {
        alert("请输入猫的名称")
        return
    }
    if (!app.form.gender) {
        alert("请输入猫的性别")
        return
    }
    if (!app.form.birthday) {
        alert("请输入猫的生日")
        return
    }
    if (!app.form.introduction) {
        alert("请输入猫的介绍")
        return
    }
    if (!app.form.img && !app.file) {
        alert("请上传猫的图片")
        return
    }

    if(app.file){
        //上传新图
        //图片上传成功后再发请求
        app.uploadImg(function (img) {
            app.form.img = img
            save()

        })

    }else{
        save()
    }

    //保存信息
    function save () {
        app.form.gender = parseInt(app.form.gender)
        axios.post(Host + '/cat/updateCat', app.form)
            .then(function (response) {

                if (response.data && response.data.success) {
                    alert(response.data.message)
                } else {
                    console.log(response);
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    }




}

</script>
</html>