<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <script src="js/vue.min.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<div>
    <form
            @submit="checkForm"
            action="https://vuejs.org/"
            id="app"
            method="post"
            novalidate="true"
    >

        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
        </p>

        <p>
            <label for="name">Name</label>
            <input
                    id="name"
                    name="name"
                    type="text"
                    v-model="name"
            >
        </p>

        <p>
            <label for="email">Email</label>
            <input
                    id="email"
                    name="email"
                    type="email"
                    v-model="email"
            >
        </p>

        <p>
            <label for="movie">Favorite Movie</label>
            <select
                    id="movie"
                    name="movie"
                    v-model="movie"
            >
                <option>Star Wars</option>
                <option>Vanilla Sky</option>
                <option>Atomic Blonde</option>
            </select>
        </p>

        <p>
            <input
                    type="submit"
                    value="Submit"
            >
        </p>

    </form>


</div>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            errors: [],
            name: null,
            email: null,
            movie: null
        },
        methods: {
            checkForm: function (e) {
                this.errors = [];

                if (!this.name) {
                    this.errors.push("Name required.");
                }
                if (!this.email) {
                    this.errors.push('Email required.');
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('Valid email required.');
                }

                if (!this.errors.length) {
                    return true;
                }

                e.preventDefault();
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    })


</script>

</body>
</html>